
.MyPageForumScrap {
  width:100%;
  height:100%;
  
  display: flex;
  flex-direction: column;
}

/* 검색 + 분류탭 */
.container_myForumScrapHeader {
  width:100%;
  height:50px;
  display: flex;
}

/* 검색창 */
.container_myForumScrapSearch {
  width:25%;
  height:85%;
  
  display: flex;
  align-items: center;
}
.box_myScrapSearch {
  width:95%;
  height:100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(230, 230, 230);
}
.dropbox_myScrapSearch{
  width:50px;
  height:100%;
}
.droplist_nowSearch {
  width:50px;
  height:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(230, 230, 230);
  color:rgb(75, 75, 75);
  z-index:10;
}
.droplist_nowSearch:hover {
  cursor:pointer;
}
.droplist_myScrapSearch {
  position: absolute;
  width:50px;
  height:95px;
  background-color: rgb(230, 230, 230);
  display: none;
}
.searchDrop_clicked {
  position: absolute;
  width:50px;
  height:95px;
  background-color: rgb(230, 230, 230);
  display: block;
  z-index:10;
}
.drops_myScrapSearch {
  width: 100%;
  height:25px;
  padding:2.5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(150, 150, 150);
}
.drops_myScrapSearch:hover {
  cursor: pointer;
  color:rgb(57, 57, 57);
}
.input_myForumScrapSearch {
  border: none;
  width:75%;
  height:60%;
  background-color: transparent;
}
.input_myForumScrapSearch:focus {
  outline: none;
  background-color: transparent;
}
.btn_myForumScrapSearch {
  width:60px;
  height:100%;
  border:none;
  font-size:0.9rem;
  background-color: rgb(230, 230, 230);
}
.btn_myForumScrapSearch:hover {
  cursor: pointer;
}






/* 글 불러오는 영역 */
.container_myforumScrapArea {
  width:100%;
  height:100%;

  display: flex;
  flex-direction: column;

  margin:5px auto;
  gap:5px;
}


/* 카드 ------------------------------------ */

/* 공통 */
.container_myForumScrapWriting {
  width: 100%;
  height:150px;

  display: flex;
  align-items: center;

  
  border:1px solid rgb(204, 204, 204);
  border-radius:10px;
}

.container_myForumScrapCon {
  width: 95%;
  height:80%;
  margin:0 40px;
}


/* SHARE ------------------------------------ */

.container_scrapShareTop {
  width:100%;
  height:40px;

  /* margin-top:1%; */

  display:flex;
  align-items: center;
}

.container_scrapShareTopRight {
  margin-left:auto;
  width:26%;

  display: flex;
  justify-content: flex-end;
}

.container_scrapShareViews {
  width:100px;
  display: flex;
  justify-content: flex-end;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container_scrapShareDate {
  width: 150px;
  display: flex;
  justify-content: flex-end;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container_scrapShareToggle {
  margin-top:-1%;
}
.scrappedOk {
  font-size: 4.5rem;
  color:#9BE4CE;
}
.scrappedOk:hover {
  cursor:pointer;
}
.icon_myScrapToggle_scrap {
  font-size: 4.5rem;
  color:#cecece;
}  
.icon_myScrapToggle_scrap:hover {
  cursor:pointer;
}

.container_scrapShareTitle {
  width:95%;
  height:40px;

  font-size:1.6rem;
  font-weight:bold;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  display: flex;
  align-items: center;
}

.container_scrapShareBottom {
  width:95%;
  height:40px;

  display: flex;
  flex-direction: column;
}
.container_scrapShareContent {
  width:100%;
  height:30px;
  
  display: flex;
  align-items: center;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container_scrapShareUser {
  width:150px;
  margin-left:auto;

  display: flex;
  justify-content: flex-end;
}
.box_userNicknameScrap {
  font-size:1rem;
  color:rgb(75, 75, 75);
}
.box_userNicknameScrap:hover {
  cursor:pointer;
}


/* RECOMMEND */
.container_scrapRecomLocation {
  width:500px;
  min-width:100px;
  height:30px;

  display: flex;
  align-items: center;
  gap:10px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.icon_scrapRecomLocation {
  font-size:1.5rem;
}