
.MyPageShare {
  width:100%;
  height:100%;
  
  display: flex;
  flex-direction: column;
}
.container_mypageShareArea {
  width:100%;
  height:100%;

  display: flex;
  flex-direction: column;

  margin:5px auto;
  gap:5px;
}


/* 카드 */

.container_mypageShareWriting {
  width:100%;
  height:170px;

  display: flex;
  align-items: center;
  border:1px solid rgb(204, 204, 204);
  border-radius:10px;
}

/* 왼쪽 사진 */
.container_myShareLeft {
  width:160px;
  height:100%;
  background-color: gray;
  border-radius: 10px 0 0 10px;
  object-fit: contain;
}


/* 오른쪽 */
.container_myShareRight {
  width:91%;
  height:100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.container_myShareWhole {
  width:95%;
  height:80%;
}


/* 진행상태 + 조회수 */
.container_myShareTop {
  width:100%;
  height:45px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 진행상태 */
.container_myShareState_ongoing {
  width:130px;
  height:75%;

  border-radius:5px;
  background-color: #9BE4CE;
  color:white;
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-size:1.125rem;
}
.container_myShareState_finish {
  width:130px;
  height:75%;

  border-radius:5px;
  background-color: #838383;
  color:white;
  
  display: flex;
  justify-content: center;

  font-size:1.125rem;
}
/* 조회수 */
.container_myShareViews {
  width:100px;
  height:75%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size:1.1rem;
}

/* 글제목 */
.container_myShareTitle {
  width:100%;
  height:40px;

  font-size:1.6rem;
  font-weight:bold;

  display: flex;
  align-items: center;
}

/* 하단 본문 + 수정삭제버튼 */
.container_myShareBottom {
  width:100%;
  height:37.5%;

  display: flex;
  align-items: center;
  font-size:1.3rem;
}

/* 본문 */
.container_myShareContent {
  width:100%;
  height:100%;

  display: flex;
  align-items: center;
}

/* 버튼 */
.container_myDetailBtns {
  width:165px;
  height:100%;
  
  display: flex;
  justify-content: flex-end;
  gap:10px;
}
.txt_myBtn {
  width:40px;
  height:100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size:1.2rem;
  color:#838383;
}
.txt_myBtn:hover {
  cursor: pointer;
}




/* 하단 페이지네이션 */
.container_myBottom {
  width:100%;
  height:100%;
  margin-top: 2.5%;
  display: flex;
  justify-content: center;
}
.box_contensPlus {
  font-size:1.325rem;
  cursor:pointer;
}