.MyPageForumScrap {
  width:100%;
  height:100%;
  
  display: flex;
  flex-direction: column;
}


/* 헤더 -- 검색, 분류 */
.container_myForumScrapHeader {
  width:100%;
  height:50px;

  display: flex;
  background-color: lawngreen;
}

/* 검색 */
.container_myForumScrapSearch {
  width:30%;
  height:90%;

  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F3F3F3;
}
.drop_myForumScrapSearch {
  width:50px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.input_myForumScrapSearch {
  width:80%;
  height:80%;
  border:none;
  background-color: transparent;
}
.btn_myForumScrapSearch {
  width:70px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.25rem;
}


/* 글 분류 */
.container_myForumListkind {
  width:300px;
  height:90%;

  display: flex;
  align-items: center;

  background-color: yellow;
}


/* 글목록 */
.container_myforumScrapArea {
  width:100%;
  height:100%;

  display: flex;
  flex-direction: column;

  margin:5px auto;
  gap:5px;
}

/* 나눔사진 */
.container_myShareLeft_scrap {
  width:250px;
  height:100%;
  background-color: gray;
  border-radius: 10px 0 0 10px;
  object-fit: contain;
}