.accompany-new {
    width: 1280px;
    margin: 120px auto;
}

.write-container {
    width: 93%;
    margin: 0 auto;
}

.accompany-cell {
    display: flex;
/*    justify-content: center; */
    align-items: center;
}

.accompany-info {
/*    width: 100%; */
    width: 98%;
    margin-left: 10px;
    height: 400px;
    justify-content: flex-start;
}

.accompany-subject {
    font-size: 17px;
    color: #9be4ce;
    margin-bottom: 10px;
}

.accompany-title {
    width: 94.5%;
    padding: 6px;
    border: 1px solid #6DA997;
    border-radius: 3.5px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.accompany-title:focus {outline: none;}

.accompany-loc-detail {
    width: 45%;
    padding: 6px;
    border: 1px solid lightgray;
    border-radius: 3.5px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.accompany-loc-detail:focus {outline: none;}

.accompany-location {
    width: 36.5%;
    padding: 6px;
    border: 1px solid lightgray;
    border-radius: 3.5px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.accompany-location:focus {outline: none;}

.find-address {
    margin-bottom: 15px;
    padding: 6px 28.8px;
    border: none;
    border-radius: 3.5px;
    background-color: lightgray;
    color: white;
    cursor: pointer;
}

.accompany-headcount {
    width: 31.8%;
    padding: 6px;
    border: 1px solid lightgray;
    border-radius: 3.5px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.accompany-headcount:focus {outline: none;}

.accomp-date {
    width: 30%;
    border: 1px solid lightgray;
    border-radius: 3.5px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.accomp-time {
    width: 30%;
    border: 1px solid lightgray;
    border-radius: 3.5px;
    margin-bottom: 15px;
}

.accompany-content {
    width: 95%;
    height: 200px;
    border: 1px solid #6DA997;
    border-radius: 3.5px;
    resize: none;
    outline: none;
    margin-bottom: 30px;
}

.accompany-content:focus {outline: none;}

.accompany-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 53px;
}