.accompany-article {
    width: 1280px;
    margin: 120px auto;
}

.article-container {
    width: 93%;
    margin: 0 auto;
}

.article-cell {
    display: flex;
/*    justify-content: center; */
    align-items: center;
}

.article-info {
/*    width: 100%; */
    width: 98%;
    margin-left: 10px;
    height: 400px;
    justify-content: flex-start;
}

.article-subject {
    font-size: 17px;
    color: #9be4ce;
    margin-bottom: 10px;
}

.article-title {
    width: 94.5%;
    padding: 6px;
    border: none;
    border-bottom: 1px solid #6DA997;
    margin-bottom: 15px;
    outline: none;
}

.article-location {
    width: 46.2%;
    padding: 6px;
    border: none;
    background-color: lightgray;
    border-radius: 3.5px;
    margin-bottom: 15px;
}

.article-location:focus {outline: none;}

.article-loc-detail {
    width: 46.1%;
    padding: 6px;
    border: none;
    background-color: lightgray;
    border-radius: 3.5px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.article-loc-detail:focus {outline: none;}

.article-headcount {
    width: 20%;
    padding: 6px;
    border: none;
    background-color: lightgray;
    border-radius: 3.5px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.article-headcount:focus {outline: none;}

.article-date {
    width: 35%;
    padding: 6px;
    border: none;
    background-color: lightgray;
    border-radius: 3.5px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.article-date:focus {outline: none;}

.article-time {
    width: 35%;
    padding: 6px;
    border: none;
    background-color: lightgray;
    border-radius: 3.5px;
    margin-bottom: 15px;
}

.article-time:focus {outline: none;}

.article-content {
    width: 95%;
    height: 200px;
    border: 1px solid #6DA997;
    border-radius: 3.5px;
    resize: none;
    outline: none;
    margin-bottom: 30px;
}

.article-scrap, .article-participation {
    padding: 5px 25px;
    margin-right: 10px;
    border: 1px solid #838383;
    border-radius: 5px;
    background-color: white;
    color: #838383;
    cursor: pointer;
}

.buttons-above {
    display: flex;
    justify-content: flex-start;
    margin-left: 0.5px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.active {
    padding: 5px 25px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #838383;
    color: white;
    cursor: pointer;
}

.buttons-bottom {
    display: flex;
    justify-content: flex-end;
    margin-right: 54px;
}