.reviewInfo_mainLayout{
    display: flex;
    justify-content: center;
    /* background-color: aliceblue; */
    margin: 120px auto;
    width: 100%;
}
.reviewInfo_wrap{
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(224, 203, 243); */
}
.reviewInfo_top{
    /* background-color: rgb(163, 163, 233); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.reviewInfo_title{
    /* background-color: rgb(189, 233, 146); */
    /* display: flex;
    justify-content: start; */
    font-size: 25px;
}
.reviewInfo_top_in{
    /* background-color: rgb(61, 90, 61); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px 5px 0px;
}
.reviewInfo_imageAndnickname{
    /* background-color: rgb(79, 79, 236); */
    display: flex;
    font-size: 17px;
    align-items: center;
    justify-content: center;
}
.reviewInfo_nickname{
    cursor: pointer;
}
.reviewInfo_profil{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviewInfo_profil_img{
    margin: 0 auto;
    border: 1px solid gray;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: contain
}
.reviewInfo_dateAndviewsAndscrap{
    /* background-color: coral; */
    display: flex;
}
.reviewInfo_dateAndviewsAndscrap>div:not(:last-child){
    margin-right: 5px;
}
.reviewInfo_layout{
    /* background-color: rgb(100, 135, 165); */
    width: 100%;
    height: 410px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #838383;
    /* border-bottom: 1px solid #838383; */
    padding-top: 10px;
}
.reviewInfo_layout_in{
    width: 100%;
    height: 100%;
    /* background-color: darkviolet; */
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
    border: 1px solid #9BE4CE;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
}
.reviewInfo_layout_in::-webkit-scrollbar {
    width: 5px; 
    /* background-color: antiquewhite; */
}
.reviewInfo_layout_in::-webkit-scrollbar-thumb{
   width: 5px;
   background-color: #ebebeb;
   border: 1px solid #ebebeb;
   opacity: 0.3;
   border-radius: 20px;
}
.reviewInfo_views{
    display: flex;
    align-items: center;
}
.reviewInfoBtn_layout{
    /* background-color: rgb(226, 156, 226); */
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}