.reviewModify_mainLayout{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    margin: 120px auto;
    width: 100%;
}
.reviewModify_wrap{
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(224, 203, 243); */
}
.reviewModify_top{
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.reviewModify_layout{
    /* background-color: rgb(100, 135, 165); */
    width: 100%;
    height: 410px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #838383;
    padding-top: 10px;
}
.tempAndComplBtn_layout{
    /* background-color: cadetblue; */
    width: 100%;
}
.tempAndComplBtn_layout_in{
    display: flex;
    justify-content: flex-end;
}
.reviewModify_img{
    /* background-color: #838383; */
    box-sizing: border-box;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviewModify_content{
     /* background-color: bisque; */
     box-sizing: border-box;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 10px;
     /* border: 1px solid #9BE4CE; */
}
.reviewModify_img_in{
    /* background-color: rgb(204, 236, 127); */
    margin: 10px;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviewModify_content_in{
    margin: 10px;
    width: 90%;
    height: 90%;
    /* background-color: aqua; */
    font-size: 25px;
}
.reviewModify_title{
    font-size: 25px;
    margin: 5px 0px 5px 5px;
}
.tempAndComplBtn_layout{
     /* background-color: rgb(226, 156, 226); */
     font-size: 20px;
     margin-top: 20px;
     display: flex;
     justify-content: flex-end;
     width: 100%;
}
.tmepBtn{
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #9BE4CE;
    border-radius: 5px;
    font-size: 15px;
    color: #9BE4CE;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.complBtn{
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #9BE4CE;
    border-radius: 5px;
    font-size: 15px;
    color: #9BE4CE;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.complBtn:hover{
    background-color: #9BE4CE;
    color: white;
}
.tmepBtn:hover{
    background-color: #9BE4CE;
    color: white;
}
.uploadImgBtn{
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #9BE4CE;
    border-radius: 5px;
    font-size: 15px;
    color: #9BE4CE;
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.uploadImgBtn:hover{
    background-color: #9BE4CE;
    color: white;
}