.notification-item {
  margin-bottom: 10px;
  padding: 10px 10px;
  border: 1px solid lightgray;
  border-radius: 8px;
  background-color: white;
}

.item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.item-header .header-left{
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-header .header-left * {
  margin-right: 5px;
}
.item-header .header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-header .header-right * {
  margin-right: 5px;
}
.noti-type-text {
  font-size: 20px
}
.noti-date-gray {
  font-size: 16px;
  color: gray;
}

.item-body {
  font-size: 14px;
}