ul li{
   list-style-type: none;   
}
a{
    text-decoration: none;
}
/* -------------------------------------------- */
.reviews_mainLayout{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    margin: 0 auto;
}
.review_wrap{
    width: 1280px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.reviews_top{
    display: flex;
    width: 1280px;
    background-color: rgb(166, 130, 199);
    flex-wrap: wrap;
    align-items: center;
}
.reivew_search{
    width: 1280px;
    background-color: cyan;
}
.review_top_title{
   width: 1070px;
    background-color: yellowgreen;
    font-size: 20px;
    font-weight: 700;
}
.review_sort{
    background-color: darkgray;
}
.review_sort_ul{
    background-color: rgb(7, 80, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.review_sort_ul>li:not(:last-child){
    margin-right: 15px;
}

/* ---------------------------------------------- */
.listLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.review_title{
    background-color: antiquewhite;
    font-size: 18px;
}
.review_content{
    background-color: aquamarine;
    font-size: 16px;
}
.review_nickname{
    background-color: burlywood;
}
.review_views{
    background-color: thistle;
}
.review_footer{
    display: flex;
    font-size: 12px;
}
.listItem{
    width: calc(100%-10px);
    align-items: center;
    box-sizing: border-box;
}