.route_mainLayout{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    margin: 120px auto;
    width: 100%;
}
.route_wrap{
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(224, 203, 243); */
}
.route_top{
    /* background-color: aquamarine; */
    width: 100%;
}
.titleInput{
    border: none;
    background-color: rgba(227, 240, 241, 0.123);
    margin: 5px 0px 5px 5px;
    width: 50%;
    font-size: 25px;
}
.route_layout{
     width: 100%;
     height: 450px;
     display: flex;
     border-top: 1px solid #838383;
}
.route_layout>div:not(:last-child){
    margin-right: 10px;
}
.route_view{
    width: 55%;
    height: 100%;
    margin-top: 10px;
}
.map_view{
    width: 44%;
    height: 100%;
    margin-top: 10px;
}
.map_st{
    width: 100%;
    height: 85%;
    border-radius: 15px;
    background-color: aliceblue;
}
.map_input{
    display: flex;
    justify-content: center;
}
.map_input_in>div{
    margin-top: 10px;
}
.map_input1{
    display: flex;
    justify-content: center;
}
.map_input1>input:not(:last-child){
    height: 25px;
    margin-right: 5px;
}
.map_input1>input{
    background-color: white;
    border: 1px solid #838383;
    border-radius: 5px;
    color: #3d3c3c;
}
.route_search_btn{
    height: 27px;
}
.route_search_btn:hover{
    color: #3d3c3c;
    font-weight: bold;
}
.map_input2>input{
    border: 1px solid #838383;
    border-radius: 5px;
    height: 25px;
    color: #3d3c3c;
}
.tempAndSaveBtn_layout{
    /* background-color: yellowgreen; */
    margin-top: 50px;
    width: 100%;
}
.tempAndSaveBtn_layout_in{
    display: flex;
    justify-content: flex-end;
}