.routeInfo_mainLayout{
    display: flex;
    justify-content: center;
    /* background-color: aliceblue; */
    margin: 120px auto;
    width: 100%;
}
.routeInfo_wrap{
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(224, 203, 243); */
}
.routeInfo_top{
    /* background-color: rgb(163, 163, 233); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.routeInfo_title{
    /* background-color: rgb(189, 233, 146); */
    /* display: flex;
    justify-content: start; */
    font-size: 25px;
}
.routeInfo_top_in{
    /* background-color: rgb(61, 90, 61); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px 5px 0px;
}
.routeInfo_imageAndnickname{
    /* background-color: rgb(79, 79, 236); */
    display: flex;
    font-size: 17px;
    align-items: center;
    justify-content: center;
}
.routeInfo_nickname{
    /* background-color: antiquewhite; */
    cursor: pointer;
}
.routeInfo_profil{
    /* background-color: rgb(86, 216, 216); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.routeInfo_profil_img{
    margin: 0 auto;
    border: 1px solid gray;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: contain
}
.routeInfo_dateAndviewsAndscrap{
    /* background-color: coral; */
    display: flex;
}
.routeInfo_dateAndviewsAndscrap>div:not(:last-child){
    margin-right: 5px;
}
.routeInfo_layout{
    /* background-color: rgb(5, 136, 252); */
    width: 100%;
    height: 410px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #838383;
}
.routeInfo_layout>div:not(:last-child){
    margin-right: 10px;
}
.routeInfo_content_Detail_view{
    width: 50%;
    height: 100%;
    /* background-color: darkviolet; */
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
    border: 1px solid #9BE4CE;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.routeInfo_content_Detail_view::-webkit-scrollbar {
     width: 5px; 
     /* background-color: antiquewhite; */
}
.routeInfo_content_Detail_view::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    opacity: 0.3;
    border-radius: 20px;
}
.routeInfo_map_Detail_view{
    width: 50%;
    height: 100%;
    margin-top: 10px;
}
.map_address{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}
.map_st{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.routeInfo_views{
    display: flex;
    align-items: center;
}
/* route btn ---------------------------------------*/
.routeInfoBtn_layout{
    /* background-color: rgb(226, 156, 226); */
    font-size: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}