ul li{
   list-style-type: none;
   cursor: pointer;
}
a{
    text-decoration: none;
}
input{
    outline: none;
}
/* -------------------------------------------- */
.reviews_mainLayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: aliceblue; */
    margin: 120px auto;
    width: 100%;
}
.review_wrap{
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
    justify-content: center;
    margin: 0 auto;
}
.reviews_top{
    display: flex;
    width: 100%;
    /* background-color: rgb(183, 166, 197); */
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #838383;
    padding-bottom: 5px;
}
.reivew_search{
    /* width: 1105px; */
    /* background-color: cyan; */
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
    margin-bottom: 10px;
}
.search_input{
    border: none;
    border-bottom: 1px solid rgb(68, 64, 64);
    border-radius: 10px;
    height: 40px;
    width: 254px;
    position: relative;
    box-sizing: border-box;
    padding: 10px 40px 10px 10px;
    /* box-shadow: 1px 1px 1px 1px gray; */
}
.search_icon{
    position: absolute;
    font-size: 25px;
    opacity: 0.3;
    padding-right: 10px;
}
.review_top_title{
    width: 100%;
    /* background-color: rgb(70, 71, 68); */
    font-size: 30px;
    font-weight: 700;
    /* padding-left: 10px; */
    /* margin: 0 10px; */
}
.review_top_tap{
    width: 30%;
    margin-left: 10px;
    /* background-color: rgb(226, 164, 120); */
    height: 100%;
    display: flex;
}
.review_top_tap>div{
    margin-right: 10px;
    cursor: pointer;
}
.review_top_tap>div:hover{
    color: #9BE4CE;
}
.share_tap{
    /* background-color: aquamarine; */
}
.route_tap{
    /* background-color: yellowgreen; */
}
.review_sort{
    /* background-color: darkgray; */
    /* width: 101px; */
    display: flex;
    align-items: center;
}
.review_sort_ul{
    /* background-color: rgb(7, 80, 80); */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding: 0;
    padding-left: 10px;
}
.review_sort_ul>li:not(:last-child){
    margin-right: 15px;
}
.review_sort_ul>li:hover{
    color: #9BE4CE;
}
.sortAndSearch{
    width: 100%;
}
.sortAndSearchIn{
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}
/* ---------------------------------------------- */
.listLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-bottom: 1px solid #838383;
    border-top: 1px solid #838383; */
    width: 100%;
    /* background-color: coral; */
}
.pagination{
    display: flex;
    margin-top: 10px;
}
.pagination>li{
    list-style: none;
}
.review_title{
    /* background-color: antiquewhite; */
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;

}
@media (max-width: 600px) {
    .review_title {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  }
.review_content{
    /* background-color: aquamarine; */
    font-size: 16px;
    max-width: 500px;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 600px) {
    .review_content {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  }
.review_nickname{
    /* background-color: burlywood; */
    /* width: 50%; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* margin-right: 5px; */
    margin-bottom: 5px;
    font-size: 14px;
}
.viewLayout{
    /* background-color: thistle; */
    width: 100px;
    display: flex;
    justify-content: end;
}
.viewLayout>div:not(:last-child){
    margin-right: 5px;
}
.review_created_at{
    /* background-color: cadetblue; */
    width: 100px;
    display: flex;
    justify-content: end;
    margin-top: 3px;
}
.review_footer{
    display: flex;
    font-size: 14px;
    /* background-color: cornflowerblue; */
    /* flex-wrap: wrap; */
    align-items: center;
}
.dateAndView{
    display: flex;
    flex-direction: column;
}
.listItem{
    width: 100%;
    /* align-items: center; */
    box-sizing: border-box;
    border-bottom: 1px solid #838383;
    width: 100%;
    padding: 13px 10px 13px 10px;
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: space-between;
    /* background-color: darkgreen; */
}
.writeBtn{
    /* background-color: rgb(12, 163, 6); */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.container_myBottom{
    /* background-color: blue; */
}
.reivew_{
    display: flex;
    justify-content: center;
    align-items: center;

}