.shareInfo_mainLayout{
    display: flex;
    justify-content: center;
    /* background-color: aliceblue; */
    margin: 120px auto;
    width: 100%;
}
.shareInfo_wrap{
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(224, 203, 243); */
}
.shareInfo_status{
    /* background-color: aqua; */
    font-size: 20px;
    width: 100%;
    position: relative;
    top: -30px;
}
.shareInfo_status_in{
    background-color: white;
    position: absolute;
    border: 1px solid #838383;
    border-radius: 5px;
}
.share_status_ul>div{
    display: flex;
}
.shareInfo_top{
    /* background-color: rgb(163, 163, 233); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.shareInfo_top_in{
    /* background-color: rgb(61, 90, 61); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px 5px 0px;
}
.shareInfo_imageAndnickname{
    /* background-color: rgb(79, 79, 236); */
    display: flex;
    font-size: 17px;
    align-items: center;
    justify-content: center;
}
.shareInfo_profil{
    /* background-color: rgb(86, 216, 216); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.shareInfo_profil_img{
    margin: 0 auto;
    border: 1px solid gray;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: contain
}
.shareInfo_nickname{
    /* background-color: antiquewhite; */
    cursor: pointer;
}
.shareInfo_dateAndviewsAndscrap{
    /* background-color: coral; */
    display: flex;
}
.shareInfo_dateAndviewsAndscrap>div:not(:last-child){
    margin-right: 5px;
}
.shareInfo_views{
    display: flex;
    align-items: center;
}
.shareInfo_layout{
    /* background-color: rgb(100, 135, 165); */
    width: 100%;
    height: 410px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #838383;
    padding-top: 10px;
}
.shareInfo_layout_in{
    width: 100%;
    height: 100%;
    /* background-color: darkviolet; */
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
    border: 1px solid #9BE4CE;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
}
.shareInfo_layout_in::-webkit-scrollbar {
    width: 5px; 
    /* background-color: antiquewhite; */
}
.shareInfo_layout_in::-webkit-scrollbar-thumb{
   width: 5px;
   background-color: #ebebeb;
   border: 1px solid #ebebeb;
   opacity: 0.3;
   border-radius: 20px;
}
/* share btn ---------------------------------------*/
.shareInfoBtn_layout{
    font-size: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}



/* .toastui-editor-contents {
    width:100%;
    font-size:1.125rem;
}

.toastui-editor-contents img {
    width: 350px;
    height: 350px;
} */
