.share_mainLayout{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    margin: 120px auto;
    width: 100%;
}
.share_wrap{
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(224, 203, 243); */
}
.share_top{
    /* background-color: aquamarine; */
    width: 100%;
}
.share_layout{
    /* background-color: rgb(100, 135, 165); */
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #838383;
    padding-top: 10px;
}
.titleInput{
    border: none;
    background-color: rgba(227, 240, 241, 0.123);
    margin: 5px 0px 5px 5px;
    width: 50%;
    font-size: 25px;
}
.tempAndSaveBtn_layout{
    /* background-color: yellowgreen; */
    margin-top: 50px;
    width: 100%;
}
.tempAndSaveBtn_layout_in{
    display: flex;
    justify-content: flex-end;
}